.today-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.today-todo_card{
  width: 70vw;
  margin-bottom: 50px;
}
.today-card_header {
  background-color: lightgray;
}
.today-card_body{
  padding: 30px;
}


