<mat-toolbar>
  <span>My Todo List</span>
  <span class="example-spacer"></span>
  <span><a routerLink="add" routerLinkActive="active">ADD</a></span>
  <span class="example-spacer"></span>
  <span><a routerLink="list" routerLinkActive="active">LIST</a></span>
  <span class="example-spacer"></span>
  <span><a routerLink="favourite" routerLinkActive="active">FAVOURITE TODO LIST</a></span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
