.add-todo{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.add-todo_card {
  align-items: center;
  width: 40vw;
}
.add-todo_header {
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  padding: 0;
}

.add-todo_body {
  padding: 10px;
}
.add-todo_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-forms {
  width: 20vw;
}


